langchain
langchain-core
langchain_community
langchain-google-genai
langchain_classic
langchain-huggingface
sentence-transformers
google-generativeai
python-dotenv
streamlit
chromadb
pypdf
pymupdf
unstructured
pdf2image
pdfminer.six
unstructured_pytesseract
unstructured_inference
langchain-huggingface
sentence-transformers
